.container {
    width: 100%;
    height: 30px;
    background-color: rgba(244, 238, 250, 0.404);
    font-family: 'Sans-serif';
font-style: normal;
font-weight: 650;
font-size: 19px;
line-height: 30px;
/* identical to box height, or 111% */

display: flex;
align-items: center;
text-align: center;

/* Primary/B400 */

color: #90507F;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
/* Vector */


position: absolute;
left: 16.67%;
right: 16.67%;
top: 50%;
bottom: 50%;

/* Base / 300 - Tertiary */

border: 2px solid #ACB7C3;

}

