.container {
    width: 100%;
    height: 30px;
    background-color: rgba(244, 238, 250, 0.404);
    font-family: 'Sans-serif';
font-style: normal;
font-weight: 650;
font-size: 19px;
line-height: 30px;
display: flex;
align-items: center;
text-align: center;
color: #90507F;
flex: none;
order: 0;
flex-grow: 0;



width: 24px;
height: 24px;
flex: none;
order: 0;
flex-grow: 0;
}

